:host {
  background-color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.editor-actions {
  width: 200px;
  margin-right: 420px;
  display: flex;
}

app-control-panel-action-group + app-control-panel-action-group {
  border-left: 1px solid rgba(100, 121, 143, 0.20);
}
